/* .contact-section {
  display: inline;
  height: 100%;
} NOTHING */

/* .contact-list {
  display: flex;
  display: inline;
} NOTHING */
.contact-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-list p {
  font-size: 20px;
  font-family: "Anton";
}

.content-list h4 {
  font-family: "Anton";
}

.content-list {
  text-align: center;
}

/* .fa .fa-envelope .fa-phone-square .fa-skype {
  font-size: 30px;
  padding-left: 32%;
} NOTHING */

.content{
  display: flex;
}
/* .content {
  display: flex; */
  /* flex-direction: column; */
/* } */

.fa {
  /* display: flex;
  display: inline; */
}

.icon {
  font-size: 60px;
}

.contact-section hr {
  z-index: 2;
  border-color: #000120;
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

.spacer {
  flex: 1;
}

@media (max-width: 769px) {
  .content-list {
    font-size: 15px;
    font-family: "Anton";
  }
  .content {
    flex-direction: column;
  }
 
  .space {
    padding-left: .01%;
  }
  .space p{
    width: 160px;
    overflow: visible;
  }
  .mdl-list__item-primary-content .content-list{
    width:30% !important;
  }
}
