.projects-section {
    height: 100%;
    background-color: #d8d8d8;
    padding-top: 3%;
    padding-bottom: 5%;
  }
  
  .card-nav {
    text-align: center;
  }
  
  .card-bg h2 {
    background: white;
    padding: 2%;
  }
  
  .parkside-bags-bg {
    background-image: url(../../images/projects/parksidebags.png);
    height: 176px;
    background-size: cover;
    text-align: center;
  }
  
  .wise-note-bg {
    background-image: url(../../images/projects/wisenote.png);
    height: 176px;
    background-size: cover;
    text-align: center;
  }
  
  .burger-builder-bg {
    background-image: url(../../images/projects/burgerbuilder.png);
    height: 176px;
    background-size: cover;
    text-align: center;
  }
  
  .portfolio-bg {
    background-image: url(../../images/projects/portfolio.png);
    height: 176px;
    background-size: cover;
    text-align: center;
  }
  
  .quiz-bg {
    background-image: url(../../images/projects/quizapp.png);
    height: 176px;
    background-size: cover;
    text-align: center;
  }
  
  .utubegrabber-bg {
    background-image: url(../../images/projects/utubegrabber.png);
    height: 176px;
    background-size: cover;
    text-align: center;
  }
  
  .projects-grid {
    display: flex;
  }
  
  .projects-section hr {
    z-index: 2;
    border-color: #000120;
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
  }
  
  .projects-section h2 {
    font-family: "anton", sans-serif;
    color: #000120;
    text-align: center;
  }

@media (max-width: 769px) {
    .projects-grid {
        flex-direction:column;
        padding-bottom: 4%;
    }
  }