* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*banner/main*/
.main-section {
  background-image: url(./images/detroitskyline.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}
